:root {
    --vermelho: #e50914;
    --preto: #141414;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Elementos Base */

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAAAAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}
.container {
    margin-left: 20px;
}

/* Filme Principal */
.filme-principal .container {
    width: 70%;
}

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('../img/capa-house.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.btn:hover {
    background-color: #fff;
    color: black;
}

.btn svg {
    margin-right: 8px;
}

.box-filmes{
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
}